/*
 * Web Tasarım Vize Ödevi  
 */

/* Font */

/* nunito-200 - latin-ext_latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/nunito-v16-latin-ext_latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/nunito-v16-latin-ext_latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v16-latin-ext_latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v16-latin-ext_latin-200.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-200italic - latin-ext_latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/nunito-v16-latin-ext_latin-200italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/nunito-v16-latin-ext_latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v16-latin-ext_latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-200italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v16-latin-ext_latin-200italic.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-300 - latin-ext_latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/nunito-v16-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/nunito-v16-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v16-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v16-latin-ext_latin-300.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-300italic - latin-ext_latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/nunito-v16-latin-ext_latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/nunito-v16-latin-ext_latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v16-latin-ext_latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v16-latin-ext_latin-300italic.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-regular - latin-ext_latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nunito-v16-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/nunito-v16-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v16-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v16-latin-ext_latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-italic - latin-ext_latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/nunito-v16-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/nunito-v16-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v16-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v16-latin-ext_latin-italic.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-600 - latin-ext_latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/nunito-v16-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/nunito-v16-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v16-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v16-latin-ext_latin-600.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-600italic - latin-ext_latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/nunito-v16-latin-ext_latin-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/nunito-v16-latin-ext_latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v16-latin-ext_latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v16-latin-ext_latin-600italic.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-700 - latin-ext_latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/nunito-v16-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/nunito-v16-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v16-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v16-latin-ext_latin-700.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-700italic - latin-ext_latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/nunito-v16-latin-ext_latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/nunito-v16-latin-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v16-latin-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v16-latin-ext_latin-700italic.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-800 - latin-ext_latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/nunito-v16-latin-ext_latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/nunito-v16-latin-ext_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v16-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v16-latin-ext_latin-800.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-800italic - latin-ext_latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/nunito-v16-latin-ext_latin-800italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/nunito-v16-latin-ext_latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v16-latin-ext_latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v16-latin-ext_latin-800italic.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-900italic - latin-ext_latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/nunito-v16-latin-ext_latin-900italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/nunito-v16-latin-ext_latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v16-latin-ext_latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v16-latin-ext_latin-900italic.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-900 - latin-ext_latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/nunito-v16-latin-ext_latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/nunito-v16-latin-ext_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/nunito-v16-latin-ext_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/nunito-v16-latin-ext_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/nunito-v16-latin-ext_latin-900.svg#Nunito') format('svg'); /* Legacy iOS */
}

/*
 * Global Değişkenler
 */

body {
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

:-webkit-any(article, aside, nav, section) h1 {
  padding: 0;
  margin: 0;
}

.container {
  margin-right: auto;
  margin-left:  auto;
  max-width: 1200px;
  padding-right: 10px;
  padding-left:  10px;
}

.flex {
  display: flex;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content:space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}

.align-item-start {
  align-items: start;
}

.align-item-center {
  align-items: center;
}

.align-item-end {
  align-items: end;
}

.btn {
  background-color: #FFF;
  padding: 12px;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #151515;
  transition: 200ms;
  border: none;
  cursor: pointer;
}

.btn-default {
  background-color:#0062cc;
  color: #FFF;
}

.btn-white {
  background-color: #fff;
  border: 1px solid #d8dde6 !important;
  color: #3d4e67;
}

.btn-white:hover {
  background-color: #e4e5eb;
  opacity: 1;
  transition: 200ms;
}

.btn-yellow {
  background-color:#FDC500;
  color: #00296B;
}

.btn-red {
  background-color: #e04747;
  color: #FFF;
}

.btn:hover {
  opacity: .9;
  transition: 200ms;
}

.btn:focus {
  outline: 0;
}

.card {
  background-color: #FFF;
  border-radius: 5px;
}

.card > .card-header, 
.card > .card-body {
  padding: 15px;
}

.card-body {
  padding-top: 0!important;
}

.form-group {
  margin-bottom: 10px;
}

.form-group > select,input,option,label,button,textarea {
  width: 100%;
}

.form-group > select { 
  border: 1px solid #d8dde6;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-family: 'Nunito', sans-serif;
  border-radius: 5px;
  font-size: 16px;
}

.form-group > select:focus,
.form-group > input:focus,
.form-group > textarea:focus {
  outline: 0;
}

.form-group.withBox > input,
.form-group > input{
  border: none;
}

.form-group.withBox {
  border: 1px solid #d8dde6;
  border-radius: 5px;
}

.form-group.withBox > .before-box {
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #d8dde6;
  border-left: 1px solid #d8dde6;
}

.form-group.withBox > .before-box > i {
  color: #4c4c4c;
  padding-top: 5px;
}

.form-group.withBox > input,
.form-group > input{
  padding: 10px;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}

.form-group.withButton > button {
  width: 40%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form-group.withButton > input {
  border: 1px solid #d8dde6;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
} 

.form-group > textarea {
  padding: 20px;
  font-family: 'Nunito', sans-serif;
  border: none;
}

.badge {
  background-color: #FDC500;
  padding: 5px 15px;
  border-radius: 5px;
}

.badge-darkblue {
  background-color: #003F88;
}

.badge-green {
  background-color: #05a01f;
}

.badge-red {
  background-color: #e04747;
}

.text-gray {
  color: #6d7e9c !important;
}

.text-facebook-blue {
  color: #3C5A99;
}

.text-twitter-blue {
  color: #1da1f3;
}

.text-linkedin-blue {
  color: #0077b5;
}

.text-youtube-red {
  color: #FF0000;
}

.selectGroup > label:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.selectGroup > label:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.selectGroup > label {
  border: 1px solid #d8dde6;
  padding: 10px 15px;
  cursor: pointer;
  transition: 200ms;
}

.selectGroup > label.active {
  border-color: #00509D;
  color: #00509D;
  background: #f6f7fb;
  transition: 200ms;
}

.selectGroup > label:hover {
  border-color: #00509D;
  color: #00509D;
  background: #f6f7fb;
  transition: 200ms;
}

.selectGroup > label > span {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

.tab {
  overflow: hidden;
}

.tab a {
  padding: 10px 20px 10px 20px;
  display: block;
  margin: 4px 4px 0 4px;
  border: 1px solid #dbe2ea;
  background: #d9e1ea;
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
}

.tab a:first-child {
  margin-left: 0;
}

.tab a.active {
  border-bottom: 0 !important;
  padding: 10px 20px 12px 20px;
  border-radius: 3px 3px 0 0;
  margin-bottom: -2px;
  background: #fff;
  border: 1px solid #dbe2ea;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #d8dde6;
}

.visible {
  display: block;
  visibility: visible;
}

.hidden {
  display: none;
  visibility: hidden;

}

/* Header */
.appHeader {
  background-color: #003F88;
}

.appHeader > .container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.appHeader > .container > .appBrand > a {
  text-decoration: none;
  color: #FFF;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.appHeader > .container > .appMenu > ul {
  list-style: none;
}

.appHeader > .container > .appMenu > ul.responsive-menu > li {
  float: unset;
}

.appHeader > .container > .appMenu > ul > li {
  float: left;
  padding-left: 5px;
}

.appHeader > .container > .appMenu > ul > li > a {
  padding: 10px;
  text-decoration: none;
  color: #FFF;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 17px;
  transition: 200ms;
  border-radius: 5px;
}

.appHeader > .container > .appMenu > ul > li.active > a {
  background-color: #00509D;
}

.appHeader > .container > .appMenu > ul > li > a:hover {
  background-color: #00509D;
  transition: 200ms;
  border-radius: 5px;
}

.appHeader > .container > .appMenu > ul > li.responsive-stack {
  display: none;
  visibility: hidden;
}

.responsive-header {
  background-color: #003F88;
  border-top: 1px solid #445b71;
  border-bottom: 1px solid #445b71;
}

.responsive-header > .container > .responsive-nav > ul {
  margin: 0 0;
  padding: 0;
  list-style: none;
}

.responsive-header > .container > .responsive-nav > ul > li {
  padding: 10px;
}

.responsive-header > .container > .responsive-nav > ul > li > a {
  text-decoration: none;
  color: #FFF;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 17px;
  transition: 200ms;
  border-radius: 5px;
}

@media only screen and (max-width: 700px) {
  .appHeader > .container > .appMenu > ul > li.responsive-stack {
    display: block;
    visibility: visible;
  }

  .appHeader > .container > .appMenu > ul > li {
    display: none;
    visibility: hidden;
  }
}

/* Section bookCarIntro */
.appMain > .bookCarIntro {
  background-color: #00509D;
}

.appMain > .bookCarIntro > .container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.appMain > .bookCarIntro > .container > .bookCarDetails {
  width: 65%;
}

.appMain > .bookCarIntro > .container > .bookCarDetails > h1 {
  color: #FFF;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 36px;
}

.appMain > .bookCarIntro > .container > .bookCarDetails > p {
  color: #FFF;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 20px;
  width: 80%;
}

.appMain > .bookCarIntro > .container > .bookCarForm {
  width: 35%;
}

.appMain > .bookCarIntro > .container > .bookCarForm > .card > .card-header > h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (max-width: 1250px) {
  .appMain > .bookCarIntro > .container {
    max-width: 1000px;
  }
}

@media only screen and (max-width: 800px) {
  .appMain > .bookCarIntro > .container {
    flex-direction: column!important;
    justify-content: center;
  }

  .appMain > .bookCarIntro > .container > .bookCarDetails {
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .appMain > .bookCarIntro > .container > .bookCarDetails > h1,a {
    text-align: center;
  }

  .appMain > .bookCarIntro > .container > .bookCarDetails > p {
    width: 100%;
    text-align: center;
  }

  .appMain > .bookCarIntro > .container > .bookCarForm {
    padding-bottom: 50px;
    width: 100%;
  }
}

/* Section Car Brands */

.appMain > .carBrands > .container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.appMain > .carBrands > .container > .carBrandsHeader {
  width: 100%;
  text-align: center;
}

.appMain > .carBrands > .container > .carBrandsHeader > h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.appMain > .carBrands > .container > .carBrandsHeader > p {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  color: #6d7e9c;
}

.appMain > .carBrands > .container > .carBrandsSlider {
  display: grid;
  grid-template-columns: repeat(6, 1fr)
}

.appMain > .carBrands > .container > .carBrandsSlider > .carBrandItem {
  grid-column: span 1;
  padding-right: 25px;
}

.appMain > .carBrands > .container > .carBrandsSlider > .carBrandItem:nth-child(6) {
  margin-right: 0;
}

.appMain > .carBrands > .container > .carBrandsSlider > .carBrandItem > a {
  background-color: #f1f5fd;
  padding: 20px 35px;
  border-radius: 5px;
  border: 1px solid #d8dde6;
  box-shadow: 0 0 40px 0 rgba(234, 238, 249, 0.5);
  transition: 300ms;
  text-decoration: none;
  justify-content: center;
}

.appMain > .carBrands > .container > .carBrandsSlider > .carBrandItem > a:hover {
  box-shadow: 14px 14px 40px 28px rgba(234, 238, 249, 1);
  transition: 300ms;
}

.appMain > .carBrands > .container > .carBrandsSlider > .carBrandItem > a > img {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.appMain > .carBrands > .container > .carBrandsSlider > .carBrandItem > a > span {
  font-family: 'Nunito', sans-serif;
  padding-top: 10px;
  color: #585858;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1200px) {
  .appMain > .carBrands > .container > .carBrandsSlider {
    grid-template-columns: repeat(3, 1fr);
  }
  .appMain > .carBrands > .container > .carBrandsSlider > .carBrandItem {
    padding-left: 15px;
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .appMain > .carBrands > .container > .carBrandsSlider {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .appMain > .carBrands > .container > .carBrandsSlider {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Section Car Types */

.appMain > .carTypes {
  background-color: #f1f5fd;
}

.appMain > .carTypes > .container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.appMain > .carTypes > .container > .carTypesHeader {
  width: 100%;
  text-align: center;
}

.appMain > .carTypes > .container > .carTypesHeader > h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.appMain > .carTypes > .container > .carTypesHeader > p {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  color: #6d7e9c;
}

.appMain > .carTypes > .container > .carTypesBody {
  display: grid;
  grid-template-columns: repeat(12, 1fr)
}

.appMain > .carTypes > .container > .carTypesBody > .carTypeItem {
  grid-column: span 4;
  padding: 15px;
}

.appMain > .carTypes > .container > .carTypesBody > .carTypeItem > a {
  text-decoration: none;
}

.appMain > .carTypes > .container > .carTypesBody > .carTypeItem > a > .carTypeItem-Content {
  position: relative;
}


.appMain > .carTypes > .container > .carTypesBody > .carTypeItem > a > .carTypeItem-Content > img {
  width: 100%;
  border-radius: 10px;
  height: 230px;
  box-shadow: 5px 1px 39px -16px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 1px 39px -16px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 1px 39px -16px rgba(0,0,0,0.75);
}

.appMain > .carTypes > .container > .carTypesBody > .carTypeItem > a > .carTypeItem-Content > h1 {
  position: absolute;
  border-radius: 10px;
  bottom: 2%;
  padding-bottom: 50px;
  margin-bottom: -4px;
  width: 100%;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: #FFF;
  font-size: 28px;
  background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.6) 30%, rgba(0,0,0,.9) 100%);
  background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.9)));
  background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.6) 30%, rgba(0,0,0,.9) 100%);
}

.appMain > .carTypes > .container > .carTypesBody > .carTypeItem > a > .carTypeItem-Content > span {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: #FFF;
  font-size: 24px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1050px) {
  .appMain > .carTypes > .container > .carTypesBody > .carTypeItem {
    grid-column: span 6;
  }
}

@media only screen and (max-width: 560px) {
  .appMain > .carTypes > .container > .carTypesBody > .carTypeItem {
    grid-column: span 12;
  }
}

/* Featured Cars Section */
.appMain > .featuredCars {
  background-color: #ffffff;
}

.appMain > .featuredCars > .container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.appMain > .featuredCars > .container > .featuredCarsHeader {
  width: 100%;
  text-align: center;
}

.appMain > .featuredCars > .container > .featuredCarsHeader > h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.appMain > .featuredCars > .container > .featuredCarsHeader > p {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  color: #6d7e9c;
}

.appMain > .featuredCars > .container > .featuredCarsSlider {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.appMain > .featuredCars > .container > .featuredCarsSlider > .carSliderItem {
  grid-column: span 4;
  padding: 15px;
}

.appMain > .featuredCars > .container > .featuredCarsSlider > .carSliderItem > a > .sliderItem-Header {
  width: 100%;
  position: relative;
}

.appMain > .featuredCars > .container > .featuredCarsSlider > .carSliderItem > a > .sliderItem-Header > img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.appMain > .featuredCars > .container > .featuredCarsSlider > .carSliderItem > a > .sliderItem-Header > .carInfo {
  position: absolute;
  bottom: 8px;
  left: 10px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: #FFF;
  font-size: 12px;
  margin-bottom: 10px;
}

.appMain > .featuredCars > .container > .featuredCarsSlider > .carSliderItem > .sliderItem-Body {
  margin-top: -4px;
  border-left: 1px solid #d8dde6;
  border-right: 1px solid #d8dde6;
  border-bottom: 1px solid #d8dde6;
}

.appMain > .featuredCars > .container > .featuredCarsSlider > .carSliderItem > .sliderItem-Body > a {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color: #343a40;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 24px;
  font-weight: 700;
}

.appMain > .featuredCars > .container > .featuredCarsSlider > .carSliderItem > .sliderItem-Body > p.infoPanel {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color: #8492a6;
  padding-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
}

.appMain > .featuredCars > .container > .featuredCarsSlider > .carSliderItem > .sliderItem-Body > p.infoPanel > strong {
  color: #343a40;
}

.appMain > .featuredCars > .container > .featuredCarsSlider > .carSliderItem > .sliderItem-Body > p.infoPanel > i{
  color: #e04747;
}

.appMain > .featuredCars > .container > .featuredCarsSlider > .carSliderItem > .sliderItem-Body > p.carDesc {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color: #000;
  padding-left: 15px;
  margin-top: 5px;
  font-size: 17px;
  font-weight: 500;
}

.appMain > .featuredCars > .container > .featuredCarsSlider > .carSliderItem > .sliderItem-Body > p.carVoteRating {
  color: #FFF;
  font-family: 'Nunito', sans-serif;
  width: 10%;
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 5px;
}

.appMain > .featuredCars > .container > .featuredCarsSlider > .carSliderItem > .sliderItem-Body > button {
  margin: 10px 15px;
  width: 92%;
}

.appMain > .featuredCars > .container > .featuredCarsSlider > .carSliderItem > .sliderItem-Footer {
  background-color: #f7f7f7;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid #d8dde6;
  border-right: 1px solid #d8dde6;
  border-left: 1px solid #d8dde6;
}

.appMain > .featuredCars > .container > .featuredCarsSlider > .carSliderItem > .sliderItem-Footer > p {
  padding-left: 15px;
  color: #343a40;
  font-family: 'Nunito', sans-serif;
}

@media only screen and (max-width: 900px) {
  .appMain > .featuredCars > .container > .featuredCarsSlider > .carSliderItem {
    grid-column: 6 span;
  }

  .appMain > .featuredCars > .container > .featuredCarsSlider > .carSliderItem > .sliderItem-Body > a {
    text-align: start;
  }
}

@media only screen and (max-width: 632px) {
  .appMain > .featuredCars > .container > .featuredCarsSlider > .carSliderItem {
    grid-column: 12 span;
  }
}

/* Car Selling Suggestion Section */
.appMain > .carSellingSuggestion {
  background-color: #f1f5fd;
}

.appMain > .carSellingSuggestion > .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 70px;
  padding-bottom: 70px;
}

.appMain > .carSellingSuggestion > .container > .sellSuggestion {
  border: 1px solid #d8dde6;
  padding: 30px;
  grid-column: span 6;
  margin-right: 10px;
}

.appMain > .carSellingSuggestion > .container > .sellSuggestion > h1, 
.appMain > .carSellingSuggestion > .container > .sellSuggestion > p {
  font-family: 'Nunito', sans-serif;
}

.appMain > .carSellingSuggestion > .container > .sellSuggestion > button {
  padding-top: 10px;
  width: 25%;
}

.appMain > .carSellingSuggestion > .container > .buySuggestion {
  border: 1px solid #d8dde6;
  padding: 30px;
  grid-column: span 6;
  margin-left: 10px;
}

.appMain > .carSellingSuggestion > .container > .buySuggestion > h1, 
.appMain > .carSellingSuggestion > .container > .buySuggestion > p {
  font-family: 'Nunito', sans-serif;
}

.appMain > .carSellingSuggestion > .container > .buySuggestion > button {
  padding-top: 10px;
  width: 32%;
}

@media only screen and (max-width: 850px) {
  .appMain > .carSellingSuggestion > .container > .sellSuggestion {
    grid-column: 12 span;
    margin-left: 10px;
    margin-bottom: 15px;
  }
  .appMain > .carSellingSuggestion > .container > .buySuggestion {
    grid-column: 12 span;
    margin-right: 10px;
  }
}

/* Footer */

.appFooter > .footerBody {
  background-color: #00509D;
}

.appFooter > .footerBody > .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 70px;
  padding-bottom: 70px;
}

.appFooter > .footerBody > .container > .shortcutLinks {
  grid-column: span 2;
}

.appFooter > .footerBody > .container > .shortcutLinks > h1 {
  font-family: 'Nunito', sans-serif;
  color: #FFF;
  padding-bottom: 5px;
}

.appFooter > .footerBody > .container > .shortcutLinks > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.appFooter > .footerBody > .container > .shortcutLinks > ul > li {
  padding: 5px;
  padding-left: 0;
}

.appFooter > .footerBody > .container > .shortcutLinks > ul > li > a {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  color: #dcdcdc;
  transition: 200ms;
  font-size: 17px;
}

.appFooter > .footerBody > .container > .contactLinks > ul > li > a:hover {
  color: #FDC500;
  transition: 200ms;
}

.appFooter > .footerBody > .container > .contactLinks {
  grid-column: span 3;
}

.appFooter > .footerBody > .container > .contactLinks > h1 {
  font-family: 'Nunito', sans-serif;
  color: #FFF;
  padding-bottom: 5px;
}

.appFooter > .footerBody > .container > .contactLinks > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.appFooter > .footerBody > .container > .contactLinks > ul > li {
  padding: 5px;
  padding-left: 0;
}

.appFooter > .footerBody > .container > .contactLinks > ul > li > a {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  color: #dcdcdc;
  transition: 200ms;
  font-size: 17px;
}

.appFooter > .footerBody > .container > .contactLinks > ul > li > a:hover {
  color: #FDC500;
  transition: 200ms;
}

.appFooter > .footerBody > .container > .contactLinks > ul > li > a > i {
  color: #FDC500;
  padding-right: 10px;
}

.appFooter > .footerBody > .container > .paymentMethods > ul > li > a:hover {
  color: #FDC500;
  transition: 200ms;
}

.appFooter > .footerBody > .container > .paymentMethods {
  grid-column: span 3;
}

.appFooter > .footerBody > .container > .paymentMethods > h1 {
  font-family: 'Nunito', sans-serif;
  color: #FFF;
  padding-bottom: 5px;
}

.appFooter > .footerBody > .container > .paymentMethods > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.appFooter > .footerBody > .container > .paymentMethods > ul > li {
  padding: 10px;
  float: left;
}

.appFooter > .footerBody > .container > .paymentMethods > ul > li:nth-child(1) {
  padding-left: 0;
}

.appFooter > .footerBody > .container > .paymentMethods > ul > li > a {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  color: #dcdcdc;
  transition: 200ms;
  font-size: 17px;
}

.appFooter > .footerBody > .container > .paymentMethods > ul > li > a:hover {
  color: #FDC500;
  transition: 200ms;
}


.appFooter > .footerBody > .container > .socialContact > ul > li > a:hover {
  color: #FDC500;
  transition: 200ms;
}

.appFooter > .footerBody > .container > .socialContact {
  grid-column: span 4;
}

.appFooter > .footerBody > .container > .socialContact > h1 {
  font-family: 'Nunito', sans-serif;
  color: #FFF;
  padding-bottom: 5px;
}

.appFooter > .footerBody > .container > .socialContact > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.appFooter > .footerBody > .container > .socialContact > ul > li {
  padding: 10px;
  float: left;
}

.appFooter > .footerBody > .container > .socialContact > ul > li:nth-child(1) {
  padding-left: 0;
}

.appFooter > .footerBody > .container > .socialContact > ul > li > a {
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  color: #dcdcdc;
  transition: 200ms;
  font-size: 17px;
}

.appFooter > .footerBody > .container > .socialContact > ul > li > a:hover {
  color: #FDC500;
  transition: 200ms;
}

.appFooter > .footerBody > .container > .socialContact > form > .form-group > input {
  border-radius: 5px;
  width: 90%;
}

.appFooter > .footerBody > .container > .socialContact > form > .form-group > button {
  width: 30%;
}

.appFooter > .footerCopyright {
  background-color: #003F88;
}

.appFooter > .footerCopyright > .container > h1 {
  color: #FFF;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  padding: 15px 0;
}

@media only screen and (max-width: 940px) {
  .appFooter > .footerBody > .container {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 40px;
  }

  .appFooter > .footerBody > .container > div {
    padding-bottom: 40px;
  }

  .appFooter > .footerBody > .container > div:last-child {
    padding-bottom: 0;
  }

  .appFooter > .footerBody > .container > .socialContact > form > .form-group > input {
    width: 40%;
  }
}

/* Contact Page */

.appMain > .contactPage > .container {
  padding: 70px 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.appMain > .contactPage > .container > .contactHello {
  grid-column: span 4;
}

.appMain > .contactPage > .container > .contactHello > h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
}

.appMain > .contactPage > .container > .contactHello > p {
  font-family: 'Nunito', sans-serif;
}

.appMain > .contactPage > .container > .contactHello > p.text-gray {
  margin-bottom: 0;
}

.appMain > .contactPage > .container > .contactHello > p.contactMail {
  margin-top: 2px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 900;
}

.appMain > .contactPage > .container > .contactHello > ul.socialMediaLinks {
  list-style: none;
  margin-left: 0;
  padding: 0;
} 

.appMain > .contactPage > .container > .contactHello > ul.socialMediaLinks > li {
  float: left;
}

.appMain > .contactPage > .container > .contactHello > ul.socialMediaLinks > li > a {
  padding-right: 15px;
  transition: 200ms;
}

.appMain > .contactPage > .container > .contactHello > ul.socialMediaLinks > li > a:hover {
  opacity: .9;
  transition: 200ms;
}

.appMain > .contactPage > .container > .contactForm {
  grid-column: span 8;
  border: 1px solid #d8dde6;
  border-radius: 5px;
  box-shadow: 0 0 40px 0 rgba(234, 238, 249, 0.5);
}

.appMain > .contactPage > .container > .contactForm > .card {
  padding: 15px;
}

.appMain > .contactPage > .container > .contactForm > .card > .card-header > h1 {
  font-family: 'Nunito', sans-serif;
}

@media only screen and (max-width: 1220px) {
  .appMain > .contactPage > .container > .contactHello {
    grid-column: 6 span;
    padding-left: 25px;
  }

  .appMain > .contactPage > .container > .contactForm {
    grid-column: 6 span;
  }
}

@media only screen and (max-width: 750px) {
  .appMain > .contactPage > .container > .contactHello {
    padding-right: 25px;
    padding-bottom: 50px;
  }

  .appMain > .contactPage > .container {
    grid-template-columns: repeat(6, 1fr);
  }

  .appMain > .contactPage > .container > .contactForm {
    margin: 0 25px;
  }
}

/* Cars Page */

.appMain > .carsPage {
  background-color: #f1f5fd;
}

.appMain > .carsPage > .container {
  padding: 70px 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.appMain > .carsPage > .container > .carList {
  grid-column: span 9;
}

.appMain > .carsPage > .container > .carList > h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
}

.appMain > .carsPage > .container > .carList > .carSorting {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #fff !important;
  border: 1px solid #d8dde6;
  border-radius: 5px;
  margin-top: 50px;
}

.appMain > .carsPage > .container > .carList > .carSorting > .sortingDesc {
  grid-column: span 4;
  font-family: 'Nunito', sans-serif;
  padding: 10px;
  padding-left: 25px;
  font-weight: 600;
}

.appMain > .carsPage > .container > .carList > .carSorting > .sortingType {
  list-style: none;
  padding-top: 10px;
  grid-column: span 2;
}

.appMain > .carsPage > .container > .carList > .carSorting > .sortingType > li {
  float: left;
  padding-right: 20px;
}

.appMain > .carsPage > .container > .carList > .carSorting > .sortingType > li > a {
  font-size: 26px;
  color: #000;
  transition: 200ms;
}

.appMain > .carsPage > .container > .carList > .carSorting > .sortingType > li.active > a {
  color: #00509D;
}

.appMain > .carsPage > .container > .carList > .carSorting > .sortingType > li > a:hover {
  color: #00509D;
  transition: 200ms;
}

.appMain > .carsPage > .container > .carList > .carSorting > .carSortingCategories {
  grid-column: span 6;
  font-family: 'Nunito', sans-serif;
}

.appMain > .carsPage > .container > .carList > .carSorting > .carSortingCategories > p {
  font-family: 'Nunito', sans-serif;
  padding: 10px;
  padding-left: 25px;
  font-weight: 600;
}

.appMain > .carsPage > .container > .carList > .carSorting > .carSortingCategories > .selectGroup {
  padding-top: 26px;
}

.appMain > .carsPage > .container > .carList > .cars > .carItem {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 20px;
}

.appMain > .carsPage > .container > .carList > .cars > .carItem > .carImage {
  grid-column: span 4;
}

.appMain > .carsPage > .container > .carList > .cars > .carItem > .carImage > img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.appMain > .carsPage > .container > .carList > .cars > .carItem > .carDetails {
  grid-column: span 8;
}

.appMain > .carsPage > .container > .carList > .cars > .carItem > .carDetails > .detailsBody {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  border: 1px solid #d8dde6;
  background-color: #ffffff;
  border-top-right-radius: 5px;
}

.appMain > .carsPage > .container > .carList > .cars > .carItem > .carDetails > .detailsBody > a {
  font-family: 'Nunito', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

.appMain > .carsPage > .container > .carList > .cars > .carItem > .carDetails > .detailsBody > .carItemInfo {
  margin-top: 5px;
  margin-bottom: 10px;
}

.appMain > .carsPage > .container > .carList > .cars > .carItem > .carDetails > .detailsBody > .carItemInfo > span {
  font-family: 'Nunito', sans-serif;
  color: #8492a6;
  padding-right: 20px;
}

.appMain > .carsPage > .container > .carList > .cars > .carItem > .carDetails > .detailsBody > .carItemInfo > i {
  color: #00509D;
}

.appMain > .carsPage > .container > .carList > .cars > .carItem > .carDetails > .detailsBody > .carItemDesc {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: #000;
  margin-top: 5px;
}

.appMain > .carsPage > .container > .carList > .cars > .carItem > .carDetails > .detailsFooter {
  background: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid #d8dde6;
  border-right: 1px solid #d8dde6;
  border-bottom-right-radius: 5px;
}

.appMain > .carsPage > .container > .carList > .cars > .carItem > .carDetails > .detailsFooter > p {
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  margin: 0;
  padding-top: 12px;
  padding-left: 25px;
  padding-bottom: 10px;
}

.appMain > .carsPage > .container > .carList > .cars > .carItem > .carDetails > .detailsFooter > .carBtn {
  padding-top: 5px;
  padding-right: 10px;
}

.appMain > .carsPage > .container > .carList > .cars > .carItem > .carDetails > .detailsFooter > .carBtn > button {
  padding: 10px;
}

.appMain > .carsPage > .container > .carsPageSidebar {
  grid-column: span 3;
  padding-top: 94px;
  padding-left: 10px;
}

.appMain > .carsPage > .container > .carsPageSidebar > .sidebarSearch {
  padding: 7px 10px;
  background-color: #fff !important;
  border: 1px solid #d8dde6;
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 2px;
}

.appMain > .carsPage > .container > .carsPageSidebar > .sidebarFilter {
  margin-top: 20px;
  background-color: #fff !important;
  border: 1px solid #d8dde6;
  border-radius: 5px;
}

.appMain > .carsPage > .container > .carsPageSidebar > .sidebarFilter > .filterCategory > h1 {
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  padding: 8px 15px;
  border-bottom: 1px solid #d8dde6;
  border-top: 1px solid #d8dde6;
}

.appMain > .carsPage > .container > .carsPageSidebar > .sidebarFilter > .filterCategory-Content > form {
  padding: 12px;
  padding-top: 20px;
}

.appMain > .carsPage > .container > .carsPageSidebar > .sidebarFilter > .filterCategory-Content > form > .form-group > input {
  width: unset;
  border: 1px solid #d8dde6;
  border-radius: 5px;
}

.appMain > .carsPage > .container > .carsPageSidebar > .sidebarFilter > .filterCategory-Content > form > .form-group > label {
  font-family: 'Nunito', sans-serif;
  color: #162946 !important;
  font-size: 17px;
  font-weight: 500;
}

.appMain > .carsPage > .container > .carsPageSidebar > .sidebarFilter > .applyForm {
  background-color: rgba(0, 0, 0, 0.03);
}

.appMain > .carsPage > .container > .carsPageSidebar > .sidebarFilter > .applyForm > button {
  margin: 20px;
  width: 87%;
}

@media only screen and (max-width: 1220px) {
  .appMain > .carsPage > .container > .carList {
    grid-column: 12 span;
  }

  .appMain > .carsPage > .container > .carsPageSidebar {
    grid-column: 12 span;
  }

  .appMain > .carsPage > .container > .carsPageSidebar {
    padding-top: 40px
  }
}

@media only screen and (max-width: 880px) {
  .appMain > .carsPage > .container > .carList > .carSorting > .sortingDesc {
    grid-column: 8 span;
  }

  .appMain > .carsPage > .container > .carList > .carSorting > .sortingType {
    grid-column: 4 span;
    padding-left: 0;
  }

  .appMain > .carsPage > .container > .carList > .carSorting > .carSortingCategories {
    grid-column: 12 span;
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  .appMain > .carsPage > .container > .carList > .cars > .carItem > .carImage {
    grid-column: 12 span;
  }

  .appMain > .carsPage > .container > .carList > .cars > .carItem > .carDetails {
    grid-column: 12 span;
  }

  .appMain > .carsPage > .container > .carList > .cars > .carItem {
    padding: 25px;
  }

  .appMain > .carsPage > .container > .carList > .cars > .carItem > .carImage > img {
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
  }

  .appMain > .carsPage > .container > .carList > .cars > .carItem > .carDetails > .detailsBody {
    border-top-right-radius: 0;
  }

  .appMain > .carsPage > .container > .carList > .carSorting {
    margin-left: 25px;
    margin-right: 25px;
  }

  .appMain > .carsPage > .container > .carList > .cars > .carItem > .carDetails > .detailsFooter {
    border-left: 1px solid #d8dde6;
    border-bottom-left-radius: 5px;
  }

  .appMain > .carsPage > .container > .carList > .carSorting > .carSortingCategories > .selectGroup {
    padding-top: 0;
    padding-bottom: 26px;
    padding-left: 23px;
  }

  .appMain > .carsPage > .container > .carList > .carSorting > .carSortingCategories > p {
    margin: 0;
    padding-bottom: 15px;
    padding-top: 0;
  }

  .selectGroup > label {
    padding: 10px 11px;
  }

  .appMain > .carsPage > .container > .carList > h1 {
    padding-left: 25px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 879px) {
  .appMain > .carsPage > .container > .carList > .carSorting > .carSortingCategories {
    flex-direction: row;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1240px) {
  .appMain > .carsPage > .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* Car Details */

.appMain > .carDetailsPage,
.appMain > .carFullDetails {
  background-color: #f1f5fd;
}

.appMain > .carDetailsPage > .container {
  padding: 70px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.appMain > .carDetailsPage > .container > .carImages {
  grid-column: span 1;
  background-color: #FFF;
  border: 1px solid #d8dde6;
  border-radius: 5px 0px 0px 0px;
}

.appMain > .carDetailsPage > .container > .carImages > .sliderContent {
  padding: 25px 15px;
}

.appMain > .carDetailsPage > .container > .carDetailsPage-details {
  grid-column: span 1;
  background-color: #FFF;
  border: 1px solid #d8dde6;
  border-left: none;
  border-radius: 0px 5px 0px 0px;
}

.appMain > .carDetailsPage > .container > .carDetailsPage-details > h1 {
  padding: 25px 15px;
  font-family: 'Nunito', sans-serif;
  padding-bottom: 0;
}

.appMain > .carDetailsPage > .container > .carDetailsPage-details > p {
  margin-top: 5px;
  padding-left: 15px;
  font-family: 'Nunito', sans-serif;
}

.appMain > .carDetailsPage > .container > .carDetailsPage-details > p.detailsInfo > span {
  padding-right: 15px;
  color: #8492a6;
  cursor: pointer;
  transition: 200ms;
}

.appMain > .carDetailsPage > .container > .carDetailsPage-details > p.detailsInfo > span:hover {
  color: #00509D;
  transition: 200ms;
}

.appMain > .carDetailsPage > .container > .carDetailsPage-details > p.detailsInfo > i {
  color: #00509D;
}

.appMain > .carDetailsPage > .container > .carDetailsPage-details > p.detailsDesc  {
  width: 90%;
}

.appMain > .carDetailsPage > .container > .carDetailsPage-details > p.detailsColors > span {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.appMain > .carDetailsPage > .container > .carDetailsPage-details > p.detailsColors > i {
  font-size: 20px;
}

.appMain > .carDetailsPage > .container > .carDetailsPage-details > p.detailsColors > i:nth-child(2) {
  color: #00509D;
}

.appMain > .carDetailsPage > .container > .carDetailsPage-details > p.detailsColors > i:nth-child(3) {
  color: orangered;
}

.appMain > .carDetailsPage > .container > .carDetailsPage-details > p.detailsColors > i:nth-child(4) {
  color: darkcyan;
}

.appMain > .carDetailsPage > .container > .carDetailsPage-details > p.detailsColors > i:nth-child(5) {
  color: seagreen;
}

.appMain > .carDetailsPage > .container > .carDetailsPage-details > form {
  width: 50%;
  padding-left: 15px;
}

.appMain > .carDetailsPage > .container > .carPostDetails {
  grid-column: span 2;
  background-color: #FFF;
  border-right: 1px solid #d8dde6;
  border-left: 1px solid #d8dde6;
}

.appMain > .carDetailsPage > .container > .carPostDetails > p {
  font-family: 'Nunito', sans-serif;
}

.appMain > .carDetailsPage > .container > .carPostDetails > p:first-child {
  padding-left: 25px;
}

.appMain > .carDetailsPage > .container > .carPostDetails > p:last-child {
  padding-right: 25px;
}

.appMain > .carDetailsPage > .container > .carPostInteractions {
  grid-column: span 2;
  background-color: #f7f7f7;
  border: 1px solid #d8dde6;
  border-radius: 0px 0px 5px 5px;
}

.appMain > .carDetailsPage > .container > .carPostInteractions > .actionButtons {
  padding-left: 25px;
  padding: 20px;
}

.appMain > .carDetailsPage > .container > .carPostInteractions > .actionButtons > a {
  padding: 5px 8px;
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
}

.appMain > .carFullDetails > .container {
  padding-bottom: 40px;
}

.carFullDetails-tabcontent {
  padding-left: 25px;
  font-family: 'Nunito', sans-serif;
  background-color: #fff;
}

.carFullDetails-tabcontent > p {
  margin-top: 5px;
  width: 90%;
}

.carFullDetails-tabcontent > table, 
.carFullDetails-tabcontent > .tables > table {
  width: 100%;
}

.carFullDetails-tabcontent > table > tbody > tr > td > span,
.carFullDetails-tabcontent > .tables > table > tbody > tr > td > span {
  font-weight: 700;
}

.carFullDetails-tabcontent > table > tbody > tr > td,
.carFullDetails-tabcontent > .tables > table > tbody > tr > td {
  border: 1px solid #d8dde6;
  padding: 10px;
  margin-right: 0;
}

@media only screen and (max-width: 980px) {
  .appMain > .carDetailsPage > .container {
    padding: 15px;
  }
  .appMain > .carDetailsPage > .container > .carDetailsPage-details {
    grid-column: 2 span;
  }

  .appMain > .carDetailsPage > .container > .carImages {
    grid-column: 2 span;
  }

  .appMain > .carDetailsPage > .container > .carImages {
    border-radius: 5px 5px 0px 0px;
  }

  .appMain > .carDetailsPage > .container > .carDetailsPage-details {
    border-top: none;
    border-left: 1px solid #d8dde6;
    border-radius: 0px 0px 0px 0px;
  }
}

@media only screen and (max-width: 600px) {
  .carFullDetails-tabcontent > .tables {
    flex-direction: column;
  }

  .carFullDetails-tabcontent > table, .carFullDetails-tabcontent > .tables > table {
    width: 100%!important;
  }
}

/* About Page */

.appMain > .aboutPage {
  padding: 70px 0;
}

.appMain > .aboutPage > .container > h1,p {
  font-family: 'Nunito', sans-serif;
}